@keyframes slan {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  width: 320px;
  position: relative;
  .car {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
    transition: 0.3s ease;

    &.animation {
      animation: slan 0.3s linear forwards;
    }
  }

  .list {
    .item {
      display: flex;
      align-items: center;

      .left {
        width: 50px;
        height: 50px;
        background-color: aliceblue;
      }
      .right {
        height: 50px;
        border: 1px dashed #eee;
        padding-left: 15px;
        flex: 1;
        text-align: right;
      }
    }
  }
}
