// tailwindcss import
:root {
  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
  }
}
*:-webkit-full-screen {
  background: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    // 背景变黑
    // color-scheme: dark;
  }
}

.add_car_fly {
  transition: 0.5s linear;
  width: 20px;
  height: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;

  > div {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    background-color: aqua;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 1, 1);
  }
}
